* {
  font-family: "Roboto Mono", monospace;
  padding:0px;
  margin:0;
  background-color:rgb(247, 247, 234);
}

.body {
  background-color:rgb(247, 247, 234);
}

.roboto-mono-fart {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color:beige;
  color:rgb(4, 4, 4);
  height:55px;
  text-align:left;
  padding-left:100px;
  line-height:55px;
  font-size:25px;
}

.top-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom:40px;
  flex-wrap:wrap;
}

.top-container > div {
  width:33%;
}

@media (max-width: 600px) {
  .top-container > div {
    width: 100%;
  }
  .header {
    background-color:beige;
    color:rgb(4, 4, 4);
    height:55px;
    text-align:center;
    line-height:55px;
    font-size:25px;
    padding-left:0px;
  }
}

.baggie-count {
  text-align:center;
  font-weight:bold;
  font-size:15px;
}

.baggie-count > span {
  font-size:70px;
  font-weight:bold;
  text-align:center;
}

.total-earnings {
  text-align:center;
  font-weight:bold;
  font-size:15px;
}

.total-earnings > span {
  font-size:70px;
  font-weight:bold;
  text-align:center;
  color:green;
}

.counters-wrapper {
  padding:0;
  display:flex;
  width:auto;
  margin-left:auto;
  margin-right:auto;
  justify-content:center;
  flex-wrap:wrap;
  flex-direction: row;
  align-items:center;
}

.option { 
  border: 2px solid gray;
  border-radius: 35px;
  max-width:300px;
  min-width:300px;
  min-height:300px;
  max-height:300px;
  overflow:hidden;
  transition: .3s;
  margin-bottom:20px;
  margin-left:10px;
  margin-right:10px;
  flex-grow:1;
}

.option:hover {
  transform: scale(1.02);
}

.top-option > h1 {
  color:black;
  font-size:1.1em;
  text-align:center;
  user-select: none;
  background-color:beige;
  margin-top:0px;
}

.top-option {
  display:flex;
  justify-content: center;
  align-items:center;
  height:40px;
  background-color: beige;
  margin-top:0;
  border-bottom:1px solid gray;
}

.x-button {
  display:flex;
  position:absolute;
  margin-left:250px;
  background-color:beige;
  font-weight: bold;
  user-select:none;
}
.x-button:hover {
  cursor:pointer;
}

.option > h1:hover {
  cursor:pointer;
}


.option > h2 {
  text-align:center;
  font-size:100px;
}

.option > p {
  padding: 0px 30px;
  text-align:center;
  font-size:1.25em;
  color:green;
  font-weight:bold;
}

.option > p > span{
  color:rgb(85, 85, 85);
  font-size:15px;
}

.button-container {
  margin-top:15px;
  text-align:center;
}

.option > div > button {
  margin-top:auto;
  margin-bottom:15px;
  padding:.5em;
  border-radius:20px;
  border: 2px solid rgb(114, 114, 114);
  text-align:center;
  font-size:1em;
  width:50px;
  margin-left:auto;
  margin-right:auto;
  background-color:beige;
  font-weight:bold;
  color:black;
}

.option > div > button:hover {
  background-color:rgb(27, 27, 27);
  color:whitesmoke;
  cursor:pointer;
}

.categoryname {
  text-align:center;
  margin:30px;
  padding: 0px;
  margin-left:0px;
  margin-right:0px;
}

.add-button {
  margin-top:5px;
  padding:.25em .5em;
  width:180px;
  border-radius:20px;
  border: 2px solid rgb(114, 114, 114);
  text-align:center;
  font-size:.7em;
  margin-left:auto;
  margin-right:auto;
  background-color:beige;
  font-weight:normal;
  color:black;
  transition:.15s;
}
.add-button:hover {
  background-color:rgb(27, 27, 27);
  color:whitesmoke;
  cursor:pointer;
}

.clear-button {
  margin-top:5px;
  width:180px;
  padding:.25em .5em;
  border-radius:20px;
  border: 2px solid rgb(114, 114, 114);
  text-align:center;
  font-size:.7em;
  margin-left:auto;
  margin-right:auto;
  background-color:beige;
  font-weight:normal;
  color:black;
  transition:.15s;
}

.clear-button:hover {
  background-color:rgb(177, 0, 0);
  color:whitesmoke;
  cursor:pointer;
}

.modal {
  background-color: beige;
}

.name-input {
  height:32px;
  width:160px;
  border-radius:8px;
  border: 2px gray solid;
  font-size:15px;
  text-align:center;
}

.price-adjust {
  width:35px;
  text-align:center;
  border: 2px gray solid;
  border-radius:4px;
}

.price-clicker {
  user-select: none;
}

.price-clicker:hover {
  cursor:pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}